<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propify - About Us</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <nav id="nav" class="flex" style="background-color: rgb(61, 90, 241);">
        <img src="/images/logo.png">
        <ul class="flex">
          <li><a class="a" href="/">Home</a></li>
          <li><a class="a" href="/info/about" id="about-btn">About</a></li>
          <li><a class="a" href="#footer" id="contact-btn">Contact</a></li>
          <li><a class="a" href="/news" style="color: red;">News</a></li>
        </ul>
      </nav>
    <h1>About Us</h1>
    <h2>Our Mission: Helping Millions of People to Find, Sell or Rent Properties</h2>
    <hr>
    <div class="content">
        <img class="extra" src="https://media.istockphoto.com/id/1402139820/photo/unrecognizable-person-looks-for-home-using-mobile-app.webp?b=1&s=170667a&w=0&k=20&c=e8osJib1Y4rXVvSM_N5W-UXtoaP2JSt5R_ujD31zY18=" alt="mission">
        <label>From the start, Propify set out with a clear mission: to simplify the real estate process for everyone involved. Whether you are a first-time homebuyer, a seasoned investor, or someone looking for a rental property, we aim to make your experience as smooth and transparent as possible. We believe that every property tells a story, and it’s our job to help you find the one that resonates with you.</label>
    </div>
    <h2>Our Story</h2>
    <hr>
    <div class="content">
      <img class="extra" src="https://media.istockphoto.com/id/1447596238/photo/businessman-hand-touching-3d-rendered-home-and-digital-data-network-icons.jpg?s=612x612&w=0&k=20&c=XNJWff3-3du6Qaq7jVCrV1mngASyka9kL1Rj8rEQsSE=" alt="house">
      <label>In 2024, amidst the evolving landscape of real estate, Ranvijay, our visionary founder, identified a gap in the market—a need for a platform that seamlessly bridges the gap between property seekers and property owners, all while ensuring an open, honest, and transparent process. Thus, Propify was born, not just as a company, but as a solution to the challenges faced by many in their quest to find the perfect home or investment.</label>
    </div>
    <h2>Services</h2>
    <hr>
    <div class="content">
      <img src="https://media.istockphoto.com/id/2098359215/photo/digital-marketing-concept-businessman-using-laptop-with-ads-dashboard-digital-marketing.jpg?s=612x612&w=0&k=20&c=OdQP1rq-YcNN2nIuC8slL1BJKEwdYb7rT5mqTUNSTZQ=" class="extra">
      <label>At Propify, we go beyond simply connecting buyers, sellers, and renters; we offer a comprehensive suite of services designed to make your real estate experience seamless and efficient. Our platform not only facilitates the exploration of diverse properties across various locations but also provides an exclusive feature to highlight your property and maximize its visibility. For a nominal fee of just ₹500 per month for properties valued above ₹1 crore, and ₹300 per month for properties below ₹1 crore, you can advertise your property to a wider audience. This affordable advertising option ensures that your property stands out in a competitive market, attracting the right buyers or renters with ease. With Propify, your real estate goals are within reach</label>
    </div>
    <h2>Looking Ahead</h2>
    <hr>
    <div class="content">
      <img src="https://media.istockphoto.com/id/2083917031/photo/growth-strategy-busines-trend-concept-businessman-hand-on-arrow-investment-icon-increase-sale.webp?b=1&s=170667a&w=0&k=20&c=4BuaRzWZyFpI8jdViTIgcxdlm3zY2d2Wb7W7B5IDN9E=" alt="looking ahead" class="extra">
      <label>As we continue to grow, our commitment remains the same: to be your trusted partner in all your real estate endeavors. We are constantly innovating, listening to our users, and refining our services to ensure that Propify is the go-to platform for all your property needs</label>
      <br>
      <br>
      <label>Join us on this journey and discover how Propify can help you find the perfect property, whether it’s for living, investing, or renting. At Propify, we’re not just connecting properties; we’re building futures, one home at a time.</label>
    </div>
    <footer id="footer">
        <img src="/images/logo.png">
        <div class="links">
         <div>
           <strong>Contact Us</strong>
           <a href="mailto:mypropify@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 1vw;" width="28" height="28"
             fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
             <path
               d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z" />
           </svg>mypropify@gmail.com</a>
         </div>
         <div>
           <strong>Company</strong>
           <a href="/info/about">About us</a>
           <a href="/info/privacy-policy">Privacy Policy</a>
           <a href="/info/terms-and-conditions">Terms And Conditions</a>
         </div>
        </div>
     </footer>
</body>
</html>