<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/stylesheets/news.css">
    <title>Propify- News Regarding Buisness</title>
</head>
<body>
    <nav>
        <img src="/images/logo.png" alt="logo" onclick="window.location.href='/'">
    </nav>
    <div class="full">
      <div class="language">
        <div class="hindi notmarked">
          Hindi
        </div>
        <div class="english">
          English
        </div>
      </div>
      <div class="infinitenews">
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/javascripts/infiniteNewsScroll.js"></script>
</body>
</html>