.common{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
form{
    background-color: transparent;
    height: auto;
    min-height: 100vh;
    width: 60%;
    margin: 0 auto;
    border-radius: 0;
}
form div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    flex-direction: column;
}
form div div{
    gap: 1.5vw;
}
.common div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: large;
    font-weight: 450;
    font-family: 'Roboto', sans-serif;
    color: #006CFF;
}
.myInput{
    border: 0.2vw solid #00ADCE;
    width: 98%;
    border-radius: 1vw;
    outline: none;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    padding: 0.1vw;
}
select{
    width: 45%;
    padding: 0.5vw;
}
.common div{
    flex-direction: column;
}
.common div:nth-child(2), .common div:nth-child(3), .common div:nth-child(4), .common div:nth-child(5){
    width: 45%;
}
.hr{
    width: 4vw;
    height: 0.6vw;
    background-color: #482FF7;
    margin: 2.5vw 0 0 2.7vw;
    border-radius: 2vw;
}
.media{
    width: 100%;
    height: 50vh;
    position: relative;
}
.media h2{
    color: white;
}
.media button{
    background-color: transparent;
    justify-content: center;
    border: 0.2vw dotted royalblue;
    color: royalblue;
}
#detailed textarea{
    width: 85%;
    height: 40vh;
}
.listit{
    color: white;
}
.swiper{
    height: 100%;
    width: 100%;
    position: relative;
}
.swiper-wrapper{
    flex-direction: row;
    gap: 0;
    justify-content: flex-start;
    align-items: stretch;
}
  .swiper-slide {
    text-align: center;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .color1{
    background-color: deepskyblue;
}
.color1 input{
    opacity: 0;
}
  .swiper-slide img {
    display: block;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .swiper-slide video{
    height: 100%;
    max-width: 100%;
  }
  .swiper-button-next, .swiper-button-prev{
    gap: 0;
    flex-direction: row;
  }
  .swiper-pagination{
    display: block;
  }
  .common .optional{
    display: none;
  }
  .cover{
    display: none;
    justify-content: center;
    background-color: #FBD763;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 55;
  }
  .cover img{
    height: 45%;
    width: auto;
  }
@media only screen and (max-width: 800px){
    .cover img{
        width: 50%;
        height: auto;
    }
    form{
        width: 100%;
    }
    button{
      padding: 2.5vw;
      border-radius: 1.5vw;
    }
    .hr{
        width: 8vw;
        height: 1.5vw;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
}