nav{
    border-bottom: 0.2vw solid gray;
    background-color: white;
}
nav label{
    color: black;
}
.full{
    padding-top: 6.5vw;
    margin: 0;
}
.p-details{
    height: 60vh;
    width: 100%;
    justify-content: space-around;
    gap: 1vw;
    flex-direction: column;
}
.ulogo{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #dadada;
    overflow: hidden;
}
.ulogo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.p-details label{
    font-size: larger;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.p-details label:nth-child(3){
    color: gray;
    font-size: medium;
}
button{
    padding: 0.7vw;
    border-radius: 1vw;
    background-color: #482ff7;
    color: white;
    outline: none;
    border: none;
    justify-content: center;
    gap: 1vw;
}
.tabCon{
    width: 100%;
    height: 15%;
    border-bottom: 0.2vw solid gray;
    justify-content: space-around;
    margin-top: 2vw;
}
.tabsP{
    height: 100%;
    width: 25%;
    justify-content: center;
    font-size:  medium;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.activetab{
    border-bottom: 0.5vw solid #482ff7;
}
.tabWrapper{
    width: 100%;
    height: auto;
    min-height: 50vh;
}
.tabC{
    width: 100%;
    height: auto;
    background-color: #dadada;
    display: none;
}
.visible{
    display: flex;
    flex-direction: column;
}
.resultedDiv{
    margin-top: 1vw;
    border: 0.15vw solid silver;
}
#Suggest-popup{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}
#Suggest-popup textarea{
    height: 20vh;
    width: 85%;
    margin-bottom: 1vw;
}
#Suggest-popup button{
    min-height: 5vh;
    width: 95%;
    margin-bottom: 1vw;
}
#popup h3, #Suggest-popup h3{
    color: red;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 15%;
}
#red{
    height: 1.5vw;
    width: 1.5vw;
    background-color: red;
    border-radius: 50%;
}
@media only screen and (max-width: 800px) {
    .full{
        padding-top: 22.5vw;
        margin: 0;
    }
    .p-details{
        height: 40vh;
        gap: 0;
    }
    .p-details button{
      padding: 2.5vw;
      border-radius: 1.5vw;
    }
    .ulogo{
        height: 15vw;
        width: 15vw;
    }
}